{% extends 'base_main.html' %}
{% load static %}
{% block content %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
        role="alert">{{ message }}</div>
    {% endfor %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/board/index.css' %}">
    <div class="index_outer">
        <p class="index_label">Q&A게시판</p>
        <div class="border border-3 border-secondary rounded-4 index_inner_1">
            <div class="index_inner_2">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                        </tr>
                    </thead>
                    {% for board in page_obj %}
                        <tbody>
                            <tr style='cursor:pointer'
                                onmouseover="this.style.background='gray'"
                                onmouseout="this.style.background='white'"
                                onclick="location.href='{% url 'board:detail' board.pk %}'">
                                <td style="width:10%">{{ board.pk }}</td>
                                <td style="width:40%">{{ board.qna_title }}</td>
                                <td style="width:20%">{{ board.user_id }}</td>
                                <td style="width:30%">{{ board.qna_date|date:'Y-m-d H:i:s' }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div id="paging">
                    <ul class="pagination justify-content-center"
                        style="margin-top: 2rem;
                               display:flex">
                        <!-- 이전페이지 -->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                                <!-- href로 뎁스 설정 -->
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                            </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in page_obj.paginator.page_range %}
                            {% if page_number == page_obj.number %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                            </li>
                        {% endif %}
                        <button style="position: absolute;
                                       left: 82%"
                                type="button"
                                class="btn btn-secondary"
                                onclick="location.href='{% url 'board:post' %}'">작성하기</button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
