{% extends 'base_main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board/post.css' %}">

<form name="form_delete" action="{% url 'board:delete' board.pk %}" method="POST">
    {% csrf_token %}  
</form>

<div class="post_outer">
    <p class="post_label">Q&A게시판</p>
    <div class="border border-3 border-secondary rounded-4 post_inner_1">
            <div class="post_inner_2">
                <form style="display:inline;" action="{% url 'board:update' board.pk%}" method="POST">
                    {% csrf_token %}    
                    <input type="text" class="post_title" name="qna_title" maxlength="20" value={{board.qna_title}}>
                    <hr>
                    <textarea class="post_content" name="qna_content" cols="40" rows="13" >{{board.qna_content}}</textarea>
                    <button type="submit" class="btn btn-primary post_button">수정하기</button>
                </form>
                <button type="submit" class="btn btn-danger post_button" onclick="del()">삭제하기</button>
            </div>
    </div>
</div>


<script>
    function del() {
      if (confirm("게시물을 정말 삭제하시겠습니까?"))
      document.form_delete.submit(); 
     }
</script>
{% endblock %}





