html,body{
    height:100%
}

.main_outer {
    width : 100%;
    height: 100%;
    position: relative;
}

.main_inner_1 {
    text-align: center;
    position: absolute;
    width: 60%;
    height: 65%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
  }

.main_inner_2 {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_font_color{
    color: white;
    font-size: 20px;
}

.btn-upload{
    position: absolute;
    width: 45%;
    height: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 5px dotted blue;
    border-radius: 20px;

    font-size: 80px;
    font-weight: bold;
    color : blue;

    padding-top: 5%;
}
    
.upload_label{
    position: absolute;
    top: 19%;
    left: 41%;
    font-size: 30px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace
}

#file {
display: none;
}

.loader{
    display: none;
    position:fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    z-index: 9999;
    opacity: 1;
    transition: 0.5s ease;
  }

.loader i{
    font-size: 80px;
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -40px;
    color: #fff;
  }
