{% extends 'base_accounts.html' %} {% load static %} {% block content %}

{% for message in messages %}
<div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
    role="alert">{{ message }}</div>
{% endfor %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/accounts/signup.css' %}"
/>

<script>
  function selected() {
      var city_selected = document.getElementById("city").value
      var district_selected = document.getElementById("district")
      district_selected.length=0;
      for(var i in districts[city_selected]){
          var option = document.createElement('option');
          option.innerText = districts[city_selected][i]
          district_selected.append(option)
      }         
  }
</script>
<div class="signup_outer background">
  <p class="signup_label">회원가입</p>
  <div class="border border-3 border-primary rounded-4 signup_inner_1">
    <div class="signup_inner_2">
      <form method="POST">
        {% csrf_token %}
        <input
          class="signup_input"
          name="user_id"
          type="text"
          placeholder="아이디"
          required=""
        />
        <br />
        <br />
        <br />
        <input
          class="signup_input"
          name="password_1"
          type="password"
          placeholder="비밀번호"
          required=""
        />
        <br />
        <br />
        <br />
        <input
          class="signup_input"
          name="password_2"
          type="password"
          placeholder="비밀번호 확인"
          required=""
        />
        <br />
        <br />
        <br />
        <br />
        <div style="display:flex; ">
        <span style="font-size:15px; color:blue; font-weight:bold; margin-left:16%;">시/도</span><span style="font-size:15px; color:blue; font-weight:bold; margin-left:24%">&nbsp;&nbsp;군/구</span>
        </div>
        
        <select class="signup_select" name="city" id="city" onchange="selected()">
          {% for city in cities %}
          <option value={{city}}>{{city}}</option>
          {% endfor %}
        </select>
        <select class="signup_select" name="district" id="district">
          {% for district in default_district %}
          <option value={{district}}>{{district}}</option>
          {% endfor %}
        </select>

        <br />
        <br />
        <br />
        <input
          type="submit"
          class="btn btn-primary signup_input"
          value="가입하기"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
