{% extends 'base_accounts.html' %}
{% load static %}
{% block content %}
    <form name="form_delete" action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}  
    </form>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/accounts/update.css' %}">
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
             role="alert">{{ message }}</div>
    {% endfor %}


    <div class="update_outer">
        <p class="update_label">회원정보 수정</p>
        <div class="border border-3 border-primary rounded-4 update_inner_1">
            <div class="update_inner_2">
                <form name="form"action="{% url 'accounts:update' %}" method="POST">
                    {% csrf_token %}
                    <p class="update_columns">ID</p>
                    <input style="border-bottom-width:0;"class="update_input" type="text" name="user_id" placeholder={{ user }} disabled>
                    <br>
                    <br>
                    <p class="update_columns">현재 비밀번호</p>
                    <input class="update_input" type="password" name="origin_password">
                    <br>
                    <br>
                    <p class="update_columns">새 비밀번호</p>
                    <input class="update_input" type="password" name="new_password">
                    <br>
                    <br>
                    <p class="update_columns">새 비밀번호 확인</p>
                    <input class="update_input" type="password" name="confirm_password">
                    <br>
                    <br>
                    <br>
                    <p class="update_columns">거주지역</p>
                    <select class="update_select"
                            name="user_area"
                            maxlength="15"
                            id="id_user_area">
                        <option value={{ form.user_area.value }}>{{ form.user_area.value }}
                        </option>
                        {% for area in area_list %}
                            {% if area != form.user_area.value %}<option value="{{ area }}">{{ area }}</option>{% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <p class="update_columns">거주형태</p>
                    <select class="update_select"
                            name="user_living"
                            maxlength="15"
                            id="id_user_living">
                        <option value={{ form.user_living.value }}>{{ form.user_living.value }}
                        </option>
                        {% for living in living_list %}
                            {% if living != form.user_living.value %}<option value="{{ living }}">{{ living }}</option>{% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                </form>
                    <div class="update_button">
                        <input type="submit" class="btn btn-danger" value="회원탈퇴" onclick="javascript:document.form_delete.submit(); del()">
                        <input type="submit" class="btn btn-primary" onclick="javascript:document.form.submit();" value="수정하기">
                    </div>
                
            </div>
        </div>
    </div>
{% endblock %}
