{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>

    <style>
      .background{
        background: url({% static 'image/unfocused-field.jpg' %}) no-repeat center fixed;
        background-size: cover;
        height: 100vh;
      }
  </style>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      window.setTimeout(function() {
          $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove();
          });
      }, 2000);
    </script>
    
</head>
<body>
    <form name="form_logout" action="{% url 'accounts:logout' %}" method="POST"> 
      {% csrf_token %}
    </form>  
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link main_font_color" aria-current="page" href="{% url 'main:main' %}">분석</a>
              </li>
              <li class="nav-item">
                <a class="nav-link main_font_color" href="{% url 'board:index' %}">Q&A게시판</a>
              </li>
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link main_font_color" href="{% url 'accounts:update' %}">마이페이지</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link main_font_color" onclick="javascript:document.form_logout.submit();" href="#">로그아웃</a>
                </form>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link main_font_color" onclick="location.href='{% url 'accounts:login' %}'">로그인</a>
              </form>
              </li>          
              {% endif %} 
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>