{% extends 'base_main.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main/main.css' %}">

{% for message in messages %}
<div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
     role="alert">{{ message }}</div>
{% endfor %}

<div class="main_outer">
    <div class="border border-3 border-secondary rounded-4 main_inner_1">
        <div class="main_inner_2">
                <form name="upload" action="{% url 'output:result' %}" enctype="multipart/form-data" id="imageUploadForm" method="POST"> 
                    {% csrf_token %}
                    <p class="upload_label">사진 가져오기</p>
                    <label for="file"><div class="btn-upload">+<div></label>
                    <input type="file" name="image" accept="image/*" id="file" onchange="up();">
                </form>
        </div>
    </div>
</div>


<script>
    function up() {
        document.upload.submit(); 
    }
</script>
{% endblock %}