html,body{
    height:100%
}

.post_label{
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%);
}

.post_outer {
    width : 100%;
    height: 100%;
    position: relative;
}

.post_inner_1 {
    text-align: center;
    position: absolute;
    width: 60%;
    height: 65%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(240, 240, 240);
  }

.post_inner_2 {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

.post_title{
    width: 100%;
    height: 40px;
}
.post_content{
    width: 100%;
    resize: none;
}

.post_button{
    width: 25%;
    height: 10%;
}

.main_font_color{
    color: white;
    font-size: 20px;
}